<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>¡Bienvenido al proyecto "<%= title %>" para la práctica del curso Backend con NodeJS y MongoDB!</p>

    <h2>Lista de Anuncios</h2>
    <% anuncios.forEach(anuncio => { %>
      <p>El siguiente anuncio es de <%= anuncio.nombre %> con un precio de <%anuncio.precio%> <%= anuncio.foto %>, perteneciente a las categorías de: <%= anuncio.tags %></p>
    <% }) %>
  </body>
</html>
