<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the "<%= title %>" project for the Backend course practice with NodeJS and MongoDB!</p>

    <h2>Lista de Anuncios</h2>
    <% anuncios.forEach(anuncio => { %>
      <p>Anuncio de <%= anuncio.nombre %> con precio <%= anuncio.foto %> <%= anuncio.tags %></p>
    <% }) %>
  </body>
</html>
